@media screen and (min-width: 320px) and (max-width: 767px){
    
    .background-copy { 
        width: auto;
        height: 509px;
        background: #F8F8F8;
        margin: 0;
        padding: 0;
        padding-top: 1em;
    }

    .b-article__image { 
        width: 100%;
        height: auto;
        box-sizing: border-box;
        border: 2px solid #FFFFFF;
    }

    .header {
        width: auto;
        margin: 0;
        padding: 0;
        border: none;
    }

    .b-title__heading {
        display: flex;
        margin-top: 0;
        padding-left: 0px;
        width: auto;
    }

    main {
        margin: 0;
        padding: 0;
    }

    .menu__ic-call {
        display: none;
    }

    .menu__ic-chat {
        display: none;
    }

    .menu__ic-profile {
        display: none;
    }

    .b-article {
        display: flex;
        flex-direction: column;
    }

    .b-article__parag {
        display: inline-block;
        box-sizing: border-box;
        width: auto;
        height: 90px;
        top: 240px;
        left: 16px;
        overflow: hidden;
        margin-left: 10px;
        margin-right: 10px;
    }

    .b-parag {
        box-sizing: border-box;
        width: 100%;
    }

    .b-article__read-more {
        width: 132px;
        height: 24px;
        top: 346px;
        left: 16px;
    }

    .read-more {
        margin-left: 10px;
    }

    .b-rep-check {
        display: flex;
        width: 130px;
        height: 100%;
        align-items: center;
        justify-content:space-around;
        padding-right: 10px;
    }

    .b-call-prof{
        display: none; 
    }

    .b-title__rep-check {
        display: none;
    }

    .b-group-icon {
        align-self: center;
        margin-left: auto;
        margin-right: auto;
    }
    .b-group-icon::before {
        display:none;
    }

    .menu__ic-burger {
        margin-left:-6px;
        margin-right: 5px;
    }
}