.button {
    word-spacing: 6;
    text-align: center;
    border: none;
    height: 40px;
    width: auto;
    background-color: #F8F8F8;
    text-wrap: nowrap;
    font-family: TT Lakes;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: auto;
    line-height: 24px;
    color: #7E7E82;
}